body {
  width: 400px;
  height: 300px;
  padding: 6px;
}

.get-the-code {
  margin-top: 12px;
}

#regex-input {
  font-family: "Courier New", Courier, monospace;
  min-width: 250px;
}

#default-regex {
  font-family: "Courier New", Courier, monospace;
  padding: 4px;
  background-color: antiquewhite;
}

li {
  margin-bottom: 8px;
}
